/* style.css */
body {
  background-image: url('background.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px;
  border-radius: 12px;
  color: red;
}

.title {
  font-family: 'Orbitron', sans-serif;
  color: red;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.details-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.details-form input,
.details-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: red;
}

.submit-btn-container {
  text-align: center;
}
/* Initial green color for the submit button */
#submit-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Red color when the button is clicked */
#submit-btn.clicked {
  background-color: red;
}


/* Pulse animation for the submit button */
.pulse-animation {
  animation: pulse 0.5s ease-out;
}

/* Define the pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#success-message {
  color: darkred;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  
}

